*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 62.5%;
  height: 100%;
}

body {
  background: #E62878;
}

svg {
  overflow: visible;
}

.search {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -16rem;
  margin-top: -3.5rem;
  width: 32rem;
  height: 7rem;
}
.search:not(.active) {
  cursor: pointer;
}

.search-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.search-svg__path {
  fill: none;
  stroke: #fff;
  stroke-width: 6px;
}

.search-input {
  position: relative;
  width: 27rem;
  height: 6rem;
  padding: 1.2rem 0 1.2rem 2.5rem;
  background: transparent;
  outline: none;
  border: none;
  font-size: 3.6rem;
  color: #fff;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s;
}
.search-input.visible {
  z-index: auto;
  opacity: 1;
}

.search-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  z-index: -1;
}
.search-close.visible {
  z-index: auto;
}
.search-close.visible:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  opacity: 1;
  transition: opacity 0.1s, -webkit-transform 0.2s cubic-bezier(0.73, 0.14, 0.4, 1.58);
  transition: transform 0.2s cubic-bezier(0.73, 0.14, 0.4, 1.58), opacity 0.1s;
  transition: transform 0.2s cubic-bezier(0.73, 0.14, 0.4, 1.58), opacity 0.1s, -webkit-transform 0.2s cubic-bezier(0.73, 0.14, 0.4, 1.58);
}
.search-close.visible:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 1;
  transition: opacity 0.1s 0.2s, -webkit-transform 0.2s 0.2s cubic-bezier(0.73, 0.14, 0.4, 1.58);
  transition: transform 0.2s 0.2s cubic-bezier(0.73, 0.14, 0.4, 1.58), opacity 0.1s 0.2s;
  transition: transform 0.2s 0.2s cubic-bezier(0.73, 0.14, 0.4, 1.58), opacity 0.1s 0.2s, -webkit-transform 0.2s 0.2s cubic-bezier(0.73, 0.14, 0.4, 1.58);
}
.search-close:before, .search-close:after {
  content: "";
  position: absolute;
  top: 1.2rem;
  left: 0;
  width: 100%;
  height: 0.6rem;
  background: #fff;
  border-radius: 0.5rem;
  opacity: 0;
}
.search-close:before {
  -webkit-transform: rotate(-45deg) translateX(2rem);
          transform: rotate(-45deg) translateX(2rem);
  transition: opacity 0.1s 0.1s, -webkit-transform 0.2s;
  transition: transform 0.2s, opacity 0.1s 0.1s;
  transition: transform 0.2s, opacity 0.1s 0.1s, -webkit-transform 0.2s;
}
.search-close:after {
  -webkit-transform: rotate(45deg) translateX(2rem);
          transform: rotate(45deg) translateX(2rem);
  transition: opacity 0.1s 0.3s, -webkit-transform 0.2s 0.2s;
  transition: transform 0.2s 0.2s, opacity 0.1s 0.3s;
  transition: transform 0.2s 0.2s, opacity 0.1s 0.3s, -webkit-transform 0.2s 0.2s;
}
