{%load static%}
{%load date_filter%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <title>Alize - Visualize Your GitHub Profile</title>
    <!-- Bootstrap Core CSS -->
    <link href="static/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="{%static 'css/lib/calendar2/semantic.ui.min.css'%}" rel="stylesheet">
    <link href="{%static 'css/lib/calendar2/pignose.calendar.min.css'%}" rel="stylesheet">
    <link href="{%static 'css/lib/owl.carousel.min.css'%}" rel="stylesheet" />
    <link href="{%static 'css/lib/owl.theme.default.min.css'%}" rel="stylesheet" />
    <link href="{%static 'css/helper.css'%}" rel="stylesheet">
    <link href="{%static 'css/style.css'%}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">

        <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-two">
                                    <header>
                                        <div class="avatar">
                                            <img src={{info.avatar}} alt="Yasin Toy">
                                        </div>
                                    </header>

                                    <h3 style="font-family: roboto-thin">{{info.name}}</h3>
                                    
                                    <div class="desc" style="font-family: roboto-thin">
					{% if info.company%}
                                        	{{info.company}} </br>
					{%else%}
						{{info.location}} </br>
					{%endif%}
                                        {{info.bio}}
                                    </div>
                                    <div class="contacts">
                                        <a href="https://github.com/{{info.username}}" target="_blank"><i class="fa fa-plus color-success"></i></a>
                                        <a href=""><i class="fa fa-whatsapp color-success"></i></a>
					<a href="mailto:{{info.email}}"><i class="fa fa-envelope color-success"></i></a>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa ti-target f-s-40 color-success"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2 style="font-family: robot-thin">{{info.total_repos}}</h2>
                                    <p style="font-family: robot-thin" class="m-b-0">Total Repos</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa ti-star f-s-40 color-success"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2 style="font-family: robot-thin">{{repo_info.total_stars}}</h2>
                                    <p style="font-family: robot-thin" class="m-b-0">Total Stars(Last 50 repos)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa ti-user f-s-40 color-success"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2 style="font-family: robot-thin">{{info.followers}}</h2>
                                    <p style="font-family: robot-thin" class="m-b-0">Followers</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa ti-user f-s-40 color-success"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2 style="font-family: robot-thin">{{info.following}}</h2>
                                    <p style="font-family: robot-thin" class="m-b-0">Following</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row bg-white m-l-0 m-r-0 box-shadow ">

                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-title">
                                <h4>Contributions Activity</h4>
                            </div>
                            <div class="flot-container">
                                <img style="width: 100%; height: 63%; display: inline-block;" src="http://ghchart.rshah.org/26dad2/{{info.username}}" alt="{{info.username}}'s Github Chart" />
                            </div>
                        </div>
                        <!-- /# card -->
                    </div>
                    <!-- column -->

                    <!-- column -->
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body browser">
                                {% for key, value in repo_info.languages_per_repos.items %}
                                     <p style="margin-top: 6px;" class="f-w-600">{{key | title}} <span class="pull-right">{{value}}%</span></p>
                                    <div class="progress ">
                                        <div role="progressbar" style="width: {{value}}%; height:8px;" class="progress-bar bg-danger wow animated progress-animated"> <span class="sr-only">60% Complete</span> </div>
                                    </div>
                                {%endfor%}

                            </div>
                        </div>
                    </div>
                    <!-- column -->
                </div>

                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <h4 style="font-family: roboto-thin">{{info.username | title}} Ranking </h4>

                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Language</th>
                                                <th>{{user_raking.city | title}}</th>
                                                <th>{{user_raking.country | title}}</th>
                                                <th>WorldWide</th>
                                                <th>Total Stars</th>
                                                <th>Repos</th>
                                            </tr>
                                        </thead>
                                <tbody>
                                        {%for ranking in user_raking.rankings%}
                                          <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{ranking.language}}</td>
                                            <td><span class="badge badge-success">{{ranking.city_rank}} / {{ranking.city_count}} </span></td>
                                            <td><span class="badge badge-success">{{ranking.country_rank}} / {{ranking.country_count}} </span> </td>
                                            <td><span class="badge badge-success">{{ranking.world_rank}} / {{ranking.world_count}} </span> </td>
                                            <td><span class="badge badge-success">{{ranking.stars_count}} </span> </td>
                                            <td><span class="badge badge-success">{{ranking.repository_count}} </span> </td>
                                        </tr>
                                        {%endfor%}
                                </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                <div class="row">
                    
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <h4 style="font-family: roboto-thin">{{info.username | title}} Recent Commits </h4>
                            </div>                           
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Repository</th>
                                                <th>Commit Message</th>
                                                <th>Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            {% for commit_info in commits_info.last_5_commits %}
                                               <tr>
                                                    <td>
                                                       {{forloop.counter}}
                                                    </td>
                                                    <td>{{info.name}}</td>
                                                    <td><span>{{commit_info.name}}</span></td>
                                                    <td><span>{{commit_info.message}}</span></td>
                                                    <td>{{commit_info.date | date_parse}}</td>
                                            </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            
                <div class="row">
                     <div style="margin: auto" class="col-lg-3">
                        <div class="card" style="background: #26dad2">
                            <div class="testimonial-widget-one p-17">
                                <div class="testimonial-widget-one owl-carousel owl-theme">
                                    <div class="item">
                                        <div class="testimonial-content" style="color: #fff; font-family: roboto-thin">
                                            <div class="testimonial-author" style="font-family: roboto-thin">Top Used Words </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <img src="{%static 'images/' %}{{commits_info.word_cloud_file.filename}}"  alt="Responsive image">
                        <!-- /# card -->
                    </div>

                </div>
                <!-- /# row -->

   
            </div>
                <!-- End Page Content -->

                <div id="canvas-holder" style="width:40%"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
        <canvas id="chart-area" style="display: block; width: 570px; height: 285px;" width="570" height="285" class="chartjs-render-monitor"></canvas>
    </div>

            <!-- End Container fluid  -->
        </div>

            <footer class="footer"> Made in Istanbul <span><i class="fa ti-heart f-s-20 color-success" style="color: red"></i></span> by  <a href="https://twitter.com/yasin__toy">Yasin Toy</a></footer>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <script type="text/javascript">
        


    </script>

    <script src="{%static 'js/lib/jquery/jquery.min.js'%}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{%static 'js/lib/bootstrap/js/popper.min.js'%}"></script>
    <script src="{%static 'js/lib/bootstrap/js/bootstrap.min.js'%}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{%static 'js/jquery.slimscroll.js'%}"></script>
    <!--Menu sidebar -->
    <script src="{%static 'js/sidebarmenu.js'%}"></script>
    <!--stickey kit -->
    <script src="{%static 'js/lib/sticky-kit-master/dist/sticky-kit.min.js'%}"></script>
    <!--Custom JavaScript -->

    <!-- Amchart -->
     <script src="{%static 'js/lib/morris-chart/raphael-min.js'%}"></script>
    <script src="{%static 'js/lib/morris-chart/morris.js'%}"></script>
    <script src="{%static 'js/lib/morris-chart/dashboard1-init.js'%}"></script>


    <script src="{%static 'js/lib/calendar-2/moment.latest.min.js'%}"></script>
    <!-- scripit init-->
    <script src="{%static 'js/lib/calendar-2/semantic.ui.min.js'%}"></script>
    <!-- scripit init-->
    <script src="{%static 'js/lib/calendar-2/prism.min.js'%}"></script>
    <!-- scripit init-->
    <script src="{%static 'js/lib/calendar-2/pignose.calendar.min.js'%}"></script>
    <!-- scripit init-->
    <script src="{%static 'js/lib/calendar-2/pignose.init.js'%}"></script>

    <script src="{%static 'js/lib/owl-carousel/owl.carousel.min.js'%}"></script>
    <script src="{%static 'js/lib/owl-carousel/owl.carousel-init.js'%}"></script>
    <script src="{%static 'js/scripts.js'%}"></script>
    <!-- scripit init-->

        <!--  flot-chart js -->
    <script src="{%static 'js/lib/flot-chart/excanvas.min.js'%}"></script>
    <script src="{%static 'js/lib/flot-chart/jquery.flot.js'%}"></script>
    <script src="{%static 'js/lib/flot-chart/jquery.flot.pie.js'%}"></script>
    <script src="{%static 'js/lib/flot-chart/jquery.flot.time.js'%}"></script>
    <script src="{%static 'js/lib/flot-chart/jquery.flot.stack.js'%}"></script>
    <script src="{%static 'js/lib/flot-chart/jquery.flot.resize.js'%}"></script>
    <script src="{%static 'js/lib/flot-chart/jquery.flot.crosshair.js'%}"></script>
    <script src="{%static 'js/lib/flot-chart/curvedLines.js'%}"></script>
    <script src="{%static 'js/lib/flot-chart/flot-tooltip/jquery.flot.tooltip.min.js'%}"></script>
    <script src="{%static 'js/lib/flot-chart/flot-chart-init.js'%}"></script>

    <script src="{%static 'js/custom.min.js'%}"></script>

</body>

</html>
